@media (min-width: 1000px) and (max-width: 1360px) { 
    /*General*/
    h2 {
        font-size: 5.5rem;
    }
    

    /*Home*/
    .intro-content {
        top: -2rem;
    }
    .intro-img img,
    .intro-img svg {
        height: 45rem;
    }
    /*about*/
    .about-content { 
        top: 2rem;
    }
    .about-text-content p {
        font-size: 1.8rem;
    }
    .about-img-heliel img {
        max-width: 70%;
    }

    /* Carrousel */
    .content a img {
        height: 30px;
        color: white;
    }
    .content .links {
        display: flex;
        flex-direction: column;
    }
    .links .link-item {
        margin-top: 1rem;
    }
    .projects-content {
        position: relative;
        top: 6rem;
        max-width: 130rem;
    }
    .slider {
        max-width: 70rem;
        margin-left: 60rem;
        height: 80vh;
        height: 80%;
    }
    .thumbnail {
        margin-top: 30rem;
    }
    .thumbnail .item {
        height: 200px;
        width: 200px;
    }
    .thumbnail .item img{
        height: 80%;
    }
    .slider .list .item::after{
        background-image: linear-gradient(
        to top, #010216 0%, transparent
    );
    }
    .slider .list .item.active{
        bottom: 400px;
    }
    

}