:root {
  --primary-color: #0A1128;
  --white-color: #FFFFFF;
  --light-gray-color: #EEEEEE;
  --secondary-color: #dc143c;
  --blue-basic: #658bf7;
  --gap: 3rem;
  --dark-color:#010216;
}
  
/* -------------------- Settings*/
.dark-color {
  color: var(--primary-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
  line-height: 1.5;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 3rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 6rem;
  text-transform: uppercase;
}
h2 {
  font-size: 5.5rem;
  font-size: 6rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1.2;
}
h3 {
  font-size: 5rem;
}
h4 {
  font-size: 4.5rem;
}
h5 {
  font-size: 4rem;
}
h6 {
  font-size: 3.5rem;
}
table {
  min-width: 360px;
  width: 100%;
  border-collapse: collapse;
}
table caption {
  font-style: italic;
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 1rem;
}
table td, table th {
  white-space: nowrap;
  padding: 1rem;
  text-align: left;
  border: 0.1rem solid var(--light-gray-color)
}
tfoot td, table th {
  background: var(--light-gray-color);
}
body .full-width {
  width: 100%;
  flex: 1 1 100%;
}

/* -------------------- Scrool animations style */
.hidden-heading {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-5%);
  transition: all 1s;
}
.hidden-p {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-6%);
  transition: all 1s;
}
.hidden-fade-in {
  transform: scale(0.95); 
  transform: translateX(6%);
  transition: all 1.5s;
}
.hidden-to-up {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(6%);
  transition: all 1s;
}
.hidden-heading-time {
  opacity: 0.7;
  transform: scale(0.80);
  transform: translateY(8%);
  transition: all 1.51s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transform: translateY(0);
  transform: scale(1);
}
@media(prefers-reduced-motion) {
  .hidden-fade-in,
  .hidden-heading,
  .hidden-heading-time,
  .hidden-to-up,
  .hidden-p {
    transition: none;
  }
}

/* -------------------- General */
.dark-bg-svg {
  background-image: url('../img/main-dark-bg.svg');
  background-size: 100%;
  background-position: center center;
  color: var(--white-color);
}
.dark-bg-menu {
  background-color: var(--dark-color);
}
.white-text {
  background: var(--white-color);
  color: var(--primary-color);
}
.main-content {
  max-width: 1300px;
  margin: 0 auto;
  padding: var(--gap);
}
.section {
  min-height: 100vh;
}
.section-certificates {
  min-height: 100vh;
}
.menu-spacing {
  height: 65px;
}
.center-heading {
  display: flex;
  justify-content: center;
}
.neonText {
  color: #fff;
  text-shadow:
  0px 0px 25px rgb(63 184 255), 
  120px 50px 160px rgb(76 124 211);
}

/* -------------------- Menu in header*/
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 0.1rem solid #8882828c;
  transition: transform 0.3s ease;
  z-index: 11;
}
.menu.hidden {
  transform: translateY(-100%);
}
.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
.menu-mobile {
  display: none;
  cursor: pointer;
}
.menu-desktop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.menu-content .logo a {
  display: flex;
  align-items: center;
}
.menu-content .logo img {
  height: 5rem;
}
.menu h1 {
  font-size: 2.3rem;
  color: var(--white-color);
}
.menu h1 a {
  color: inherit;
}
.menu ul {
  list-style: none;
  display: flex;
}
.menu ul li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  color: var(--white-color);
  position: relative;
}
.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: var(--blue-basic); 
  transition: all 200ms ease-in-out;
}
.menu ul li a:hover::after {
  width: 50%;
  left: 25%;
}
.menu-spacing {
  height: 65px;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* -------------------- Home section*/
.intro-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  height: 100vh;
}
.intro-text-content, .intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
}
.intro-img img,
.intro-img svg {
  max-width: 100%;
  height: auto;
}
.intro .buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 3rem;
  margin: 0 auto;
  max-width: 70%;
}
.intro .buttons .talk-me, .intro .buttons .meet-me{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 10px;
  margin: 0 auto;
  width: 50%;
  color: var(--white-color);
  border-radius: 8px;
  box-shadow: 6px 7px 10px #0a0a0a63;
  font-size: 15px;
  font-weight: 600;
}
.intro .buttons .talk-me {
  background-color: rgb(21 111 21);
}
.intro .buttons .meet-me {
  background-color: rgb(113 41 141);
}

/* -------------------- About section*/
.about {
  max-width: 130rem;
  margin: 0 auto;
  padding: 3rem;
}
.about-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}
.about-text-content, .about-imgs {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.about-img-heliel {
  display: flex;
  justify-content: center;
}
.about-img-heliel img {
  max-width: 80%;
  height: auto;
  border-radius: 50%;
}
.about-img-skills {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}
.about-img-skills img {
  max-width: 10%;
  height: auto;
  margin-right: 0.5rem;
}
.about-text-content strong {
  color: cornflowerblue;
}

/* -------------------- PROJECTS carrousel section */
.projects-content { /* div */
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.projects-text-container, .slider {
  margin-top: 6rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.slider .content{ /* content text */
  position: relative;
  right: 75%;
  bottom: 20%;
  display: flex;
  width: 45rem;
  z-index: 1;
}
.slider .content .item {
  display: none;
}
.slider .content .item.active {
  display: block;
}
.slider .content a i {
  font-size: 30px;
  color: white;
}
.content .info .bottom {
  display: flex;
  justify-content: space-between;
}
.content .info .bottom .stacks {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.content .info .bottom .stacks img {
 padding: 5px; 
 height: 45px;
}
.slider .content .links {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.slider .content .link-item {
  margin-top: 1rem;
}
.span-link, .span-not-ok {
  font-size: 14px;
  margin-left: .5rem;
  display: flex;
  align-items: center;
}
.span-not-ok img {
  height: 30px;
}
.span-not-ok span {
  margin-left: 1rem;
}
.span-link a{ 
  display: flex;
  align-items: center;
}
.span-link span {
  color: white;
  margin-left: 1rem;
  transition: color .5s ease;
}
.span-link span:hover {
  color: rgb(37, 151, 199);
}
.content h4 {
  font-size: 4rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
}
.bxl-linkedin-square {
  color: var(--blue-basic) !important;
}
.bxs-hourglass {
  font-size: 30px;
  color: rgb(196, 191, 40);
}

.slider{ /* images slider */
  max-width: 80rem;
  margin-left: 50rem;
  height: 100%;
  display: flex;
  position: relative;
}
.slider .list .item{
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: .5s;
}
.slider .list .item img{
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .list .item::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
      to top, #010216 01%, transparent
  );
}
.slider .list .item .content{
  position: absolute;
  left: 10%;
  top: 20%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
}
.slider .list .item .content p:nth-child(1){
  text-transform: uppercase;
  letter-spacing: 10px;
}
.slider .list .item .content h2{
  font-size: 100px;
  margin: 0;
}
.slider .list .item.active{
  bottom: 300px;
  opacity: 1;
  z-index: 4;
}

.arrows{ /* Arrows */
  position: absolute;
  top: 30%;
  right: 50px;
  z-index: 6;
}
.arrows button{
  background-color: #eee5;
  border: none;
  font-family: monospace;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: .5s;
}
.arrows button:hover{
  background-color: #eee;
  color: black;
  cursor: pointer;
}

.thumbnail{ /* Thumbnail */
  position: absolute;
  top: 30rem;
  z-index: 5;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 250px;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
}
.thumbnail::-webkit-scrollbar{
  width: 0;
}
.thumbnail .item{
  width: 400px;
  height: 180px;
  filter: brightness(.5);
  transition: .5s;
}
.thumbnail .item:hover {
  cursor: pointer;
  filter: brightness(.6);
}
.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.thumbnail .item.active{
  filter: brightness(1.05);
}
.thumbnail .item .content{
  position: absolute;
  inset: auto 10px 10px 10px;
}
@keyframes showContent {
  to{
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
  }
}
.slider .content .item.active p,
.slider .content .item.active h4,
.slider .content .item.active .info .bottom .stacks img,
.slider .content .item.active span:nth-child(1),
.slider .content .item.active span:nth-child(3){
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s .7s ease-in-out 1 forwards;
}

/* -------------------- Trails */
.trails-content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline .timeline-row {
  display: flex;
  column-gap: 64px;
  flex-wrap: wrap;
}
.timeline-row .timeline-column {
  flex: 1 1 320px;
}
.timeline-column .title {
  position: relative;
  display: inline-block;
  font-size: 22px;
  margin: 32px 0 16px 30px;
}
.timeline-column .title i{ 
  height: 20px;
  padding-right: 10px;
  color: lightskyblue;
}
.timeline-column .timeline-box {
  position: relative;
  border-left: 2px solid #0ef;
}
.timeline-box .timeline-content {
  position: relative;
  padding-left: 27px;
}
.timeline-box .timeline-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10.5px;
  width: 20px;
  height: 20px;
  background-color: #0ef;
  border-radius: 50%;
}
.timeline-content .content {
  padding: 24px;
  border: 2px solid #0ef;
  border-radius: 8px;
  margin-bottom: 65px;
  background: var(--dark-color);
}
.timeline-content .content .year {
 font-size: 16px; 
 color: #0ef;
}
.timeline-content .content .year i {
  margin-right: 8px;
}
.timeline-content .content h3 {
  font-size: 19px;
  margin: 8px 0;
}
.timeline-content .content h4 {
  font-size: 14px;
}
.timeline-content .content p {
  font-size: 16px;
}

/* -------------------- Certificates cards */
.certificates-content { /* div */
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.certificates-text-container {
  margin-top: 6rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.card {
  width: 32.5rem;
  min-width: 32.5rem;
  background-color: var(--white-color);
  overflow: hidden;
  box-shadow: 0px 2px 60px rgb(43 189 237 / 20%);
  margin: 4rem;
}
.card img {
  width: 100%;
  height: auto;
}
.card-content {
  padding: 1.6rem;
}
.card-content h3 {
  color: #0b76ad;
  font-size: 28px;
  margin-bottom: 8px;
}
.card-content p {
  color: #4c4c53ed;
  font-size: 15px;
  line-height: 1.3;
}
.card-content .info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.card-content .info p {
  margin: 0 20px; 
}
.card-content .info .where {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-content .info .time {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-content .info i {
  padding-right: 2px;
  font-weight: bold;
}
.card-content .btn, .card-content .btn-in-progress {
  display: inline-block;
  padding: 8px 16px;
  font-size: 15px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
}
.card-content .btn {
  background-color: #0b76ad;
  color: var(--white-color);
  transition: .3s;
}
.card-content .btn:hover {
  background-color: #0f1028;
}
.card-content .btn-in-progress {
  background-color: #434343;
  color: var(--white-color)
}

/* -------------------- Contacts */
.contacts {
  margin-bottom: 10rem;
}
.contacts-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
  min-height: 100vh;
  margin-top: 1rem;
}
.contacts-text-content {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}
.contacts-text-content .social-media img{
  height:  5rem;
  margin: 2rem;
  color: white;
  transition: all 300ms ease-in-out;
}
.contacts-text-content .social-media img:hover{
  transform: scale(1.5);
}
.contacts-text-content, .contacts-img {
  margin-top: 10rem;
}
.contacts-img img,
.contacts-img svg {
  max-width: 100%;
  height: 35rem;
}
.contacts-img img {
  display: flex;
  justify-content: center;
}
.contacts-form {
  grid-column: span 2;
}
.contacts-form .form-grid {
  max-width: 1450px;
  margin: 0 auto;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}
.form-grid legend {
  font-style: italic;
  font-size: 1.6rem; 
  margin-bottom: 3rem;
}
.form-group {
  flex: 1 1 320px;
}
.form-group label {
  display: block;
  margin-bottom: 1rem;
}
.form-group input,
.form-group textarea {
  border: none;
  background: var(--white-color);
  padding: 1.5rem 2rem;
  width: 100%;
  font-size: 2.5rem;
  outline: none;
  transition: all 150ms ease-in-out;
  font-family: 'Open Sans', sans-serif;
}
.form-group input:focus,
.form-group textarea:focus {
  box-shadow: 0 0 10px 2px var(--blue-basic);
}
.form-group button {
  border: 3px solid var(--white-color);
  background: none;
  color: var(--white-color);
  padding: 1.5rem 2rem;
  font-size: 2.5rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.form-group button:hover {
  background: var(--white-color);
  color: var(--primary-color);
}
.form-group ::placeholder {
  color: gray;
}

/* -------------------- Footer */
.footer {
  text-align: center;
  font-size: 1.4rem;
  background-color: var(--dark-color);
  border-top:  0.1rem solid #8882828c;
}
.footer a {
  color: white;
}
.footer p {
  margin: 0;
  padding: 2rem;
}

/*-------------------- Dark - Light */
.dark-gray-color {
  color: #7d7b7b !important;
}
.logo img {
  display: none;
}
.logo img.logo-dark {
  display: inline-block;
}
.intro-img img {
  display: none;
}
.intro-img img.developer-dark {
  display: inline-block;
}
.contacts-img img {
  display: none;
}
.contacts-img img.contact-dark {
  display: inline-block;
}
.light-bg-svg {
  background-image: url('../img/main-light-bg.svg');
  background-size: 100%;
  background-position: center center;
  color: var(--white-color);
}
.light-bg-menu {
  background-color:#f7f7f7 !important;
}
.dark-color {
  color: var(--primary-color) !important;
  text-shadow: none;
}
.dark-color-background {
  background: var(--primary-color) !important;
}
.slide-show .list .item.slide-white-shadow::after { 
  background-image: linear-gradient(to top, rgb(255 255 255 / 1%) 1%, transparent);
}
.menu ul li a.crimson-color-hover::after {
  background-color: var(--secondary-color) !important;
}
.crimson-color {
  color: var(--secondary-color) !important;
}
.crimson-color-border {
  border: 2px solid var(--secondary-color) !important; 
  background: white !important;
}
.timeline-box .timeline-content.crimson-color-point::before {
  background-color: var(--secondary-color);
}
.crimson-border-left {
  border-left: 2px solid var(--secondary-color) !important;
}
.form-group input.crimson-box-shadow:focus {
  box-shadow: 0 0 10px 2px var(--secondary-color);
}
.form-group textarea.crimson-box-shadow:focus {
  box-shadow: 0 0 10px 2px var(--secondary-color);
}
.card-dark-shadow {
  box-shadow: 0px 2px 60px rgba(3, 4, 4, 0.59);
}
.dark-text-footer {
  background-color: #f7f7f7;
  color: var(--primary-color) !important;
  font-weight: bold;
}
.form-button-light {
  background-color: var(--primary-color) !important;
  color: var(--white) !important;
}
.form-button-light:hover {
  border: 3px solid var(--primary-color) !important;
  color: var(--dark-color) !important;
  background-color: white !important;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;
  height: 28px;
  width: 53px;
  transform: scale(1.5);
  border: 1px solid #8882828c;
}
.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}
.bx-sun {
  color: yellow;
  text-shadow:
  0px 0px 25px rgb(63 184 255), 
  120px 50px 160px rgb(76 124 211); 
}